<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<a href="http://192.168.19.130:8080/mean/abdsd22/adfd">haha</a>-->
<!--<h1 th:text="${fastjsonTest.id}">Hello World</h1>-->
<!--<h1 th:text="${host}">Hello World</h1>-->
<!--<h1 th:text="${host}">Hello World</h1>-->
<!--<h1 th:text="${host}">Hello World</h1>-->
<!--<h1 th:text="${host}">Hello World</h1>-->
<!--<h1 th:text="${host}">Hello World</h1>-->
aaaaaaaaaaa
</body>
</html>